<p id="notice"><%= notice %></p>

<p>
  <strong>Mac:</strong>
  <%= @worker.mac %>
</p>

<p>
  <strong>First name:</strong>
  <%= @worker.first_name %>
</p>

<p>
  <strong>Ip:</strong>
  <%= @worker.ip %>
</p>

<p>
  <strong>Mac:</strong>
  <%= @worker.mac %>
</p>

<p>
  <strong>State:</strong>
  <%= @worker.state %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @worker.last_name %>
</p>

<%= link_to 'Edit', edit_worker_path(@worker) %> |
<%= link_to 'Back', root_path %>
