<div class="row">
  <div id="col-lg-12">
    <%= simple_form_for TimeTable.new, url: admin_attendance_path, method: :post do |f| %>
        <%= f.association :worker, collection: Worker.all %>
        <%= f.button :submit, name: "Save", value: "Select worker", class: "btn btn-default" %>
    <% end %>
    <h3>Worker: <%= @worker %></h3>
  </div>
</div>
<div id="calendar">
  <script>
      $('#calendar').fullCalendar({
        eventSources: [
          // your event source
          {
            url: "/api/workers/<%= @worker.id%>/tables/",
            type: 'GET',
            color: 'red',
            textColor: 'black'
          },
          {
            url: "/api/workers/<%= @worker.id%>/holidays/",
            type: 'GET',
            color: 'yellow',
            textColor: 'black'
          },
          {
            error: function () {
              alert('there was an error while fetching events!');
            }
          }

        ],
        header: {
          center: 'month,week,day' // buttons for switching between views
        },
        views: {
          week: {
            type: 'agenda',
            duration: {days: 7},
            buttonText: 'Week'
          },
          day: {
            type: 'agenda',
            duration: {days: 1},
            buttonText: 'Day'
          }
        },
        firstDay: 1
      })
  </script>
</div>
