<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @holiday.start %>
</p>

<p>
  <strong>End:</strong>
  <%= @holiday.end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @holiday.name %>
</p>

<%= link_to 'Edit', edit_holiday_path(@holiday) %> |
<%= link_to 'Back', holidays_path %>
