<%= form_for(@warker) do |f| %>
  <% if @warker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@warker.errors.count, "error") %> prohibited this warker from being saved:</h2>

      <ul>
      <% @warker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mac %><br>
    <%= f.text_field :mac %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :ip %><br>
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :mac %><br>
    <%= f.text_field :mac %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
