<p id="notice"><%= notice %></p>

<h1>Listing Warkers</h1>

<table>
  <thead>
    <tr>
      <th>Mac</th>
      <th>First name</th>
      <th>Ip</th>
      <th>Mac</th>
      <th>State</th>
      <th>Last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @warkers.each do |warker| %>
      <tr>
        <td><%= warker.mac %></td>
        <td><%= warker.first_name %></td>
        <td><%= warker.ip %></td>
        <td><%= warker.mac %></td>
        <td><%= warker.state %></td>
        <td><%= warker.last_name %></td>
        <td><%= link_to 'Show', warker %></td>
        <td><%= link_to 'Edit', edit_warker_path(warker) %></td>
        <td><%= link_to 'Destroy', warker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Warker', new_warker_path %>
